@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section class="mt-5">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">


                <div class="col-lg-6 mb-5 mb-lg-0" style="width: 600px;">
                    <div class="card">
                        <div class="card-body py-5 px-md-5 d-flex flex-column justify-content-center align-items-center text-center">
                            <h2>Login</h2>
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="fw-medium fs-6 mt-2" style="width: 300px;">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input asp-for="Input.Email" autocomplete="username" type="email" aria-required="true" id="form3Example3" class="form-control" placeholder="Email" />
                                    <span asp-validation-for="Input.Email" class="text-danger" style="font-size: 14px;"></span>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input asp-for="Input.Password" autocomplete="password" type="password" aria-required="true" id="form3Example4" class="form-control" placeholder="Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger" style="font-size: 14px;"></span>
                                </div>
                                
                                <div class="checkbox fw-normal">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>

                                <!-- Submit button -->
                                <button id="registerSubmit" type="submit" class="btn btn-success btn-block my-4">
                                    Log in
                                </button>

                                <br/>

                            </form>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>or log in with</p>
                                @{
                                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                    {
                                    }
                                    else
                                    {
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                            <div>
                                                <p>
                                                    @foreach (var provider in Model.ExternalLogins!)
                                                    {
                                                        <button type="submit" class="btn btn-danger" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                            <i class="fab fa-@provider.DisplayName.ToLower()"></i>
                                                        </button>
                                                    }
                                                </p>
                                            </div>
                                        </form>
                                    }
                                }
                            </div>
                            <a asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Model.ReturnUrl" class="">Don't have an account? Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Alexa IOT<br />
                        <span class="text-success">Infrared Remote</span>
                    </h1>
                    @*
                    <p style="color: hsl(217, 10%, 50.8%)">
                    </p>
                    *@
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
